/*
REST Countries — Countries API (v5)

Read-only country data API. All endpoints are GET, JSON-only, and follow a JSON:API-like envelope: successful payloads sit under a top-level `data` key with `data.objects` (array of Country records) and `data.meta` (pagination block). Failures return an `errors` array of objects carrying a `message`. Authentication is a bearer API key. Spec written against https://restcountries.com/docs/countries (July 2026) and cross-checked against a live v5 record. 

API version: 5.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package restcountries

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiGetCountriesByPropertyValueRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	property string
	value string
	q *string
	limit *int32
	offset *int32
	responseFields *string
	responseFieldsOmit *string
	pretty *bool
}

// Free-text substring search across searchable properties. Explicitly empty &#x60;q&#x60; returns 400.
func (r ApiGetCountriesByPropertyValueRequest) Q(q string) ApiGetCountriesByPropertyValueRequest {
	r.q = &q
	return r
}

// Page size. 1–100 on the free plan (up to 500 on paid plans). Defaults to 25.
func (r ApiGetCountriesByPropertyValueRequest) Limit(limit int32) ApiGetCountriesByPropertyValueRequest {
	r.limit = &limit
	return r
}

// Records to skip before returning. Out-of-bounds offsets return an empty objects array with status 200.
func (r ApiGetCountriesByPropertyValueRequest) Offset(offset int32) ApiGetCountriesByPropertyValueRequest {
	r.offset = &offset
	return r
}

// Comma-separated allowlist of dot-path properties to include in each returned object; when set, objects carry only those keys. 
func (r ApiGetCountriesByPropertyValueRequest) ResponseFields(responseFields string) ApiGetCountriesByPropertyValueRequest {
	r.responseFields = &responseFields
	return r
}

// Comma-separated blocklist of dot-path properties to drop from each returned object. Composes with response_fields; omit wins on conflict. 
func (r ApiGetCountriesByPropertyValueRequest) ResponseFieldsOmit(responseFieldsOmit string) ApiGetCountriesByPropertyValueRequest {
	r.responseFieldsOmit = &responseFieldsOmit
	return r
}

// Pretty-print the JSON response. Bare flag or truthy values enable.
func (r ApiGetCountriesByPropertyValueRequest) Pretty(pretty bool) ApiGetCountriesByPropertyValueRequest {
	r.pretty = &pretty
	return r
}

func (r ApiGetCountriesByPropertyValueRequest) Execute() (*CountryListResponse, *http.Response, error) {
	return r.ApiService.GetCountriesByPropertyValueExecute(r)
}

/*
GetCountriesByPropertyValue Read countries by exact property value

Exact match (case-insensitive) of `{value}` against `{property}`. Works for unique identifiers (`codes.alpha_2/CA`, `names.common/Canada`), group properties (`region/Europe`), and reverse lookups on array fields (`borders/CAN`, `currencies/CAD`, `calling_codes/44`). `+` and `%20` both decode as spaces. Optional `q` further substring-narrows the matched set. Returns 404 for non-existent or non-readable properties (e.g. `population`, `flag.emoji`).


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param property A readable property dot-path.
 @param value Exact value to match (case-insensitive).
 @return ApiGetCountriesByPropertyValueRequest
*/
func (a *DefaultAPIService) GetCountriesByPropertyValue(ctx context.Context, property string, value string) ApiGetCountriesByPropertyValueRequest {
	return ApiGetCountriesByPropertyValueRequest{
		ApiService: a,
		ctx: ctx,
		property: property,
		value: value,
	}
}

// Execute executes the request
//  @return CountryListResponse
func (a *DefaultAPIService) GetCountriesByPropertyValueExecute(r ApiGetCountriesByPropertyValueRequest) (*CountryListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountryListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetCountriesByPropertyValue")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{property}/{value}"
	localVarPath = strings.Replace(localVarPath, "{"+"property"+"}", url.PathEscape(parameterValueToString(r.property, "property")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"value"+"}", url.PathEscape(parameterValueToString(r.value, "value")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.responseFields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_fields", r.responseFields, "form", "")
	}
	if r.responseFieldsOmit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_fields_omit", r.responseFieldsOmit, "form", "")
	}
	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCountriesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	q *string
	limit *int32
	offset *int32
	responseFields *string
	responseFieldsOmit *string
	pretty *bool
}

// Free-text substring search across searchable properties. Explicitly empty &#x60;q&#x60; returns 400.
func (r ApiListCountriesRequest) Q(q string) ApiListCountriesRequest {
	r.q = &q
	return r
}

// Page size. 1–100 on the free plan (up to 500 on paid plans). Defaults to 25.
func (r ApiListCountriesRequest) Limit(limit int32) ApiListCountriesRequest {
	r.limit = &limit
	return r
}

// Records to skip before returning. Out-of-bounds offsets return an empty objects array with status 200.
func (r ApiListCountriesRequest) Offset(offset int32) ApiListCountriesRequest {
	r.offset = &offset
	return r
}

// Comma-separated allowlist of dot-path properties to include in each returned object; when set, objects carry only those keys. 
func (r ApiListCountriesRequest) ResponseFields(responseFields string) ApiListCountriesRequest {
	r.responseFields = &responseFields
	return r
}

// Comma-separated blocklist of dot-path properties to drop from each returned object. Composes with response_fields; omit wins on conflict. 
func (r ApiListCountriesRequest) ResponseFieldsOmit(responseFieldsOmit string) ApiListCountriesRequest {
	r.responseFieldsOmit = &responseFieldsOmit
	return r
}

// Pretty-print the JSON response. Bare flag or truthy values enable.
func (r ApiListCountriesRequest) Pretty(pretty bool) ApiListCountriesRequest {
	r.pretty = &pretty
	return r
}

func (r ApiListCountriesRequest) Execute() (*CountryListResponse, *http.Response, error) {
	return r.ApiService.ListCountriesExecute(r)
}

/*
ListCountries List all countries (paginated), optionally narrowed by free-text search and property filters

Returns a paginated list of all countries, sorted ascending by names.common. `q` free-text searches every searchable property (substring, case-insensitive). Arbitrary searchable properties may also be supplied as extra query parameters (e.g. `region=Europe`, `memberships.eu=1`); all clauses AND together. Those dynamic property filters cannot be modeled in OpenAPI 3.0 — pass them via the generated client's raw query-parameter escape hatch if needed.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCountriesRequest
*/
func (a *DefaultAPIService) ListCountries(ctx context.Context) ApiListCountriesRequest {
	return ApiListCountriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CountryListResponse
func (a *DefaultAPIService) ListCountriesExecute(r ApiListCountriesRequest) (*CountryListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountryListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ListCountries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.responseFields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_fields", r.responseFields, "form", "")
	}
	if r.responseFieldsOmit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_fields_omit", r.responseFieldsOmit, "form", "")
	}
	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchCountriesByPropertyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	property string
	q *string
	limit *int32
	offset *int32
	responseFields *string
	responseFieldsOmit *string
	pretty *bool
}

// Search term (substring, case-insensitive). Required; empty returns 400.
func (r ApiSearchCountriesByPropertyRequest) Q(q string) ApiSearchCountriesByPropertyRequest {
	r.q = &q
	return r
}

// Page size. 1–100 on the free plan (up to 500 on paid plans). Defaults to 25.
func (r ApiSearchCountriesByPropertyRequest) Limit(limit int32) ApiSearchCountriesByPropertyRequest {
	r.limit = &limit
	return r
}

// Records to skip before returning. Out-of-bounds offsets return an empty objects array with status 200.
func (r ApiSearchCountriesByPropertyRequest) Offset(offset int32) ApiSearchCountriesByPropertyRequest {
	r.offset = &offset
	return r
}

// Comma-separated allowlist of dot-path properties to include in each returned object; when set, objects carry only those keys. 
func (r ApiSearchCountriesByPropertyRequest) ResponseFields(responseFields string) ApiSearchCountriesByPropertyRequest {
	r.responseFields = &responseFields
	return r
}

// Comma-separated blocklist of dot-path properties to drop from each returned object. Composes with response_fields; omit wins on conflict. 
func (r ApiSearchCountriesByPropertyRequest) ResponseFieldsOmit(responseFieldsOmit string) ApiSearchCountriesByPropertyRequest {
	r.responseFieldsOmit = &responseFieldsOmit
	return r
}

// Pretty-print the JSON response. Bare flag or truthy values enable.
func (r ApiSearchCountriesByPropertyRequest) Pretty(pretty bool) ApiSearchCountriesByPropertyRequest {
	r.pretty = &pretty
	return r
}

func (r ApiSearchCountriesByPropertyRequest) Execute() (*CountryListResponse, *http.Response, error) {
	return r.ApiService.SearchCountriesByPropertyExecute(r)
}

/*
SearchCountriesByProperty Substring search within a single searchable property or a named aggregate

Substring search (case-insensitive) within one searchable property, e.g. `/names.common?q=ger`. If `{property}` is a named aggregate (`name` or `code`), the search fans out across that aggregate's underlying property list. Empty `q` returns 400; a non-existent or non-searchable property returns 404. Premium properties (e.g. `leaders`) return 403 on the free plan.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param property A searchable property dot-path (e.g. `names.common`, `capitals`, `currencies`) or an aggregate name (`name`, `code`). 
 @return ApiSearchCountriesByPropertyRequest
*/
func (a *DefaultAPIService) SearchCountriesByProperty(ctx context.Context, property string) ApiSearchCountriesByPropertyRequest {
	return ApiSearchCountriesByPropertyRequest{
		ApiService: a,
		ctx: ctx,
		property: property,
	}
}

// Execute executes the request
//  @return CountryListResponse
func (a *DefaultAPIService) SearchCountriesByPropertyExecute(r ApiSearchCountriesByPropertyRequest) (*CountryListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountryListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.SearchCountriesByProperty")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{property}"
	localVarPath = strings.Replace(localVarPath, "{"+"property"+"}", url.PathEscape(parameterValueToString(r.property, "property")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.q == nil {
		return localVarReturnValue, nil, reportError("q is required and must be specified")
	}
	if strlen(*r.q) < 1 {
		return localVarReturnValue, nil, reportError("q must have at least 1 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.responseFields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_fields", r.responseFields, "form", "")
	}
	if r.responseFieldsOmit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_fields_omit", r.responseFieldsOmit, "form", "")
	}
	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
