openapi: 3.0.3
info:
  contact:
    url: https://restcountries.com/support
  description: |
    Read-only country data API. All endpoints are GET, JSON-only, and follow a JSON:API-like envelope: successful payloads sit under a top-level `data` key with `data.objects` (array of Country records) and `data.meta` (pagination block). Failures return an `errors` array of objects carrying a `message`. Authentication is a bearer API key. Spec written against https://restcountries.com/docs/countries (July 2026) and cross-checked against a live v5 record.
  title: REST Countries — Countries API (v5)
  version: 5.0.0
servers:
- url: https://api.restcountries.com/countries/v5
security:
- bearerAuth: []
paths:
  /:
    get:
      description: |
        Returns a paginated list of all countries, sorted ascending by names.common. `q` free-text searches every searchable property (substring, case-insensitive). Arbitrary searchable properties may also be supplied as extra query parameters (e.g. `region=Europe`, `memberships.eu=1`); all clauses AND together. Those dynamic property filters cannot be modeled in OpenAPI 3.0 — pass them via the generated client's raw query-parameter escape hatch if needed.
      operationId: listCountries
      parameters:
      - description: Free-text substring search across searchable properties. Explicitly
          empty `q` returns 400.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Page size. 1–100 on the free plan (up to 500 on paid plans).
          Defaults to 25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Records to skip before returning. Out-of-bounds offsets return
          an empty objects array with status 200.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Comma-separated allowlist of dot-path properties to include in each returned object; when set, objects carry only those keys.
        example: "names.common,codes.alpha_2,flag.emoji"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated blocklist of dot-path properties to drop from each returned object. Composes with response_fields; omit wins on conflict.
        example: names.translations
        explode: true
        in: query
        name: response_fields_omit
        required: false
        schema:
          type: string
        style: form
      - description: Pretty-print the JSON response. Bare flag or truthy values enable.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryListResponse"
          description: Paginated country records.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Malformed request (empty q, out-of-range limit, or other validation\
            \ failure)."
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Missing, unrecognized, revoked, or expired API key."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Account frozen (monthly limit exceeded) or premium field used
            on the free plan.
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Edge rate limiter tripped (sustained traffic above 20 requests
            per 10 seconds).
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unhandled server error.
      summary: "List all countries (paginated), optionally narrowed by free-text search\
        \ and property filters"
  /{property}:
    get:
      description: |
        Substring search (case-insensitive) within one searchable property, e.g. `/names.common?q=ger`. If `{property}` is a named aggregate (`name` or `code`), the search fans out across that aggregate's underlying property list. Empty `q` returns 400; a non-existent or non-searchable property returns 404. Premium properties (e.g. `leaders`) return 403 on the free plan.
      operationId: searchCountriesByProperty
      parameters:
      - description: |
          A searchable property dot-path (e.g. `names.common`, `capitals`, `currencies`) or an aggregate name (`name`, `code`).
        example: names.common
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      - description: "Search term (substring, case-insensitive). Required; empty returns\
          \ 400."
        explode: true
        in: query
        name: q
        required: true
        schema:
          minLength: 1
          type: string
        style: form
      - description: Page size. 1–100 on the free plan (up to 500 on paid plans).
          Defaults to 25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Records to skip before returning. Out-of-bounds offsets return
          an empty objects array with status 200.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Comma-separated allowlist of dot-path properties to include in each returned object; when set, objects carry only those keys.
        example: "names.common,codes.alpha_2,flag.emoji"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated blocklist of dot-path properties to drop from each returned object. Composes with response_fields; omit wins on conflict.
        example: names.translations
        explode: true
        in: query
        name: response_fields_omit
        required: false
        schema:
          type: string
        style: form
      - description: Pretty-print the JSON response. Bare flag or truthy values enable.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryListResponse"
          description: Countries whose property contains the search term.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Malformed request (empty q, out-of-range limit, or other validation\
            \ failure)."
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Missing, unrecognized, revoked, or expired API key."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Account frozen (monthly limit exceeded) or premium field used
            on the free plan.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unknown endpoint, or the property/aggregate is not readable/searchable."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Edge rate limiter tripped (sustained traffic above 20 requests
            per 10 seconds).
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unhandled server error.
      summary: Substring search within a single searchable property or a named aggregate
  /{property}/{value}:
    get:
      description: |
        Exact match (case-insensitive) of `{value}` against `{property}`. Works for unique identifiers (`codes.alpha_2/CA`, `names.common/Canada`), group properties (`region/Europe`), and reverse lookups on array fields (`borders/CAN`, `currencies/CAD`, `calling_codes/44`). `+` and `%20` both decode as spaces. Optional `q` further substring-narrows the matched set. Returns 404 for non-existent or non-readable properties (e.g. `population`, `flag.emoji`).
      operationId: getCountriesByPropertyValue
      parameters:
      - description: A readable property dot-path.
        example: codes.alpha_3
        explode: false
        in: path
        name: property
        required: true
        schema:
          type: string
        style: simple
      - description: Exact value to match (case-insensitive).
        example: CAN
        explode: false
        in: path
        name: value
        required: true
        schema:
          type: string
        style: simple
      - description: Free-text substring search across searchable properties. Explicitly
          empty `q` returns 400.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Page size. 1–100 on the free plan (up to 500 on paid plans).
          Defaults to 25.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: Records to skip before returning. Out-of-bounds offsets return
          an empty objects array with status 200.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      - description: |
          Comma-separated allowlist of dot-path properties to include in each returned object; when set, objects carry only those keys.
        example: "names.common,codes.alpha_2,flag.emoji"
        explode: true
        in: query
        name: response_fields
        required: false
        schema:
          type: string
        style: form
      - description: |
          Comma-separated blocklist of dot-path properties to drop from each returned object. Composes with response_fields; omit wins on conflict.
        example: names.translations
        explode: true
        in: query
        name: response_fields_omit
        required: false
        schema:
          type: string
        style: form
      - description: Pretty-print the JSON response. Bare flag or truthy values enable.
        explode: true
        in: query
        name: pretty
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CountryListResponse"
          description: Countries whose property equals the value.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Malformed request (empty q, out-of-range limit, or other validation\
            \ failure)."
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Missing, unrecognized, revoked, or expired API key."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Account frozen (monthly limit exceeded) or premium field used
            on the free plan.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unknown endpoint, or the property/aggregate is not readable/searchable."
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Edge rate limiter tripped (sustained traffic above 20 requests
            per 10 seconds).
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unhandled server error.
      summary: Read countries by exact property value
components:
  parameters:
    q:
      description: Free-text substring search across searchable properties. Explicitly
        empty `q` returns 400.
      explode: true
      in: query
      name: q
      required: false
      schema:
        type: string
      style: form
    qRequired:
      description: "Search term (substring, case-insensitive). Required; empty returns\
        \ 400."
      explode: true
      in: query
      name: q
      required: true
      schema:
        minLength: 1
        type: string
      style: form
    limit:
      description: Page size. 1–100 on the free plan (up to 500 on paid plans). Defaults
        to 25.
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 25
        maximum: 500
        minimum: 1
        type: integer
      style: form
    offset:
      description: Records to skip before returning. Out-of-bounds offsets return
        an empty objects array with status 200.
      explode: true
      in: query
      name: offset
      required: false
      schema:
        default: 0
        minimum: 0
        type: integer
      style: form
    responseFields:
      description: |
        Comma-separated allowlist of dot-path properties to include in each returned object; when set, objects carry only those keys.
      example: "names.common,codes.alpha_2,flag.emoji"
      explode: true
      in: query
      name: response_fields
      required: false
      schema:
        type: string
      style: form
    responseFieldsOmit:
      description: |
        Comma-separated blocklist of dot-path properties to drop from each returned object. Composes with response_fields; omit wins on conflict.
      example: names.translations
      explode: true
      in: query
      name: response_fields_omit
      required: false
      schema:
        type: string
      style: form
    pretty:
      description: Pretty-print the JSON response. Bare flag or truthy values enable.
      explode: true
      in: query
      name: pretty
      required: false
      schema:
        type: boolean
      style: form
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: "Malformed request (empty q, out-of-range limit, or other validation\
        \ failure)."
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: "Missing, unrecognized, revoked, or expired API key."
    Forbidden:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Account frozen (monthly limit exceeded) or premium field used on
        the free plan.
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: "Unknown endpoint, or the property/aggregate is not readable/searchable."
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Edge rate limiter tripped (sustained traffic above 20 requests
        per 10 seconds).
    ServerError:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Unhandled server error.
  schemas:
    CountryListResponse:
      description: Standard v5 success envelope. Records live under data.objects.
      example:
        data:
          objects:
          - names:
              common: common
              official: official
              alternates:
              - alternates
              - alternates
              native:
                key:
                  common: common
                  official: official
              translations:
                key:
                  common: common
                  official: official
            capitals:
            - name: name
              coordinates:
                lat: 0.8008281904610115
                lng: 6.027456183070403
              attributes:
                primary: true
                constitutional: true
                administrative: true
                executive: true
                legislative: true
                judicial: true
            - name: name
              coordinates:
                lat: 0.8008281904610115
                lng: 6.027456183070403
              attributes:
                primary: true
                constitutional: true
                administrative: true
                executive: true
                legislative: true
                judicial: true
            demonyms:
              key:
                m: m
                f: f
            codes:
              alpha_2: alpha_2
              alpha_3: alpha_3
              ccn3: ccn3
              fips: fips
              gec: gec
              cioc: cioc
              fifa: fifa
            flag:
              emoji: emoji
              unicode: unicode
              html_entity: html_entity
              url_png: url_png
              url_svg: url_svg
              description: description
              colors:
                dominant: dominant
                prominent: prominent
                palette:
                - hex: hex
                  proportion: 1.4658129805029452
                - hex: hex
                  proportion: 1.4658129805029452
                swatches:
                  vibrant: vibrant
                  muted: muted
                  dark_vibrant: dark_vibrant
                  dark_muted: dark_muted
                  light_vibrant: light_vibrant
                  light_muted: light_muted
            region: region
            subregion: subregion
            continents:
            - continents
            - continents
            landlocked: true
            borders:
            - borders
            - borders
            area:
              kilometers: 5.962133916683182
              miles: 5.637376656633329
            coordinates:
              lat: 0.8008281904610115
              lng: 6.027456183070403
            timezones:
            - timezones
            - timezones
            population: 2
            economy:
              gini_coefficient:
                key: 7.061401241503109
            languages:
            - name: name
              native_name: native_name
              bcp_47: bcp_47
              iso_639_1: iso_639_1
              iso_639_3: iso_639_3
            - name: name
              native_name: native_name
              bcp_47: bcp_47
              iso_639_1: iso_639_1
              iso_639_3: iso_639_3
            currencies:
            - code: code
              name: name
              symbol: symbol
            - code: code
              name: name
              symbol: symbol
            calling_codes:
            - calling_codes
            - calling_codes
            tlds:
            - tlds
            - tlds
            cars:
              driving_side: left
              signs:
              - signs
              - signs
            postal_code:
              format: format
              regex: regex
            date:
              start_of_week: start_of_week
              academic_year_start:
                month: 11
                day: 11
              fiscal_year_start:
                government:
                  month: 11
                  day: 11
                corporate:
                  month: 3
                  day: 13
                  basis: mandated
                personal:
                  month: 11
                  day: 11
            number_format:
              decimal_separator: decimal_separator
              thousands_separator: thousands_separator
            units:
              measurement_system: metric
              temperature_scale: Celsius
            classification:
              sovereign: true
              un_member: true
              un_observer: true
              disputed: true
              dependency: true
              dependency_type: dependency_type
              iso_status: official
            parent:
              alpha_2: alpha_2
              alpha_3: alpha_3
            memberships:
              un: true
              eu: true
              eurozone: true
              schengen: true
              nato: true
              commonwealth: true
              oecd: true
              g7: true
              g20: true
              brics: true
              opec: true
              african_union: true
              asean: true
              arab_league: true
            government_type: government_type
            leaders:
            - name: name
              title: title
              assets:
                key: ""
              attributes:
                key: ""
              links:
                key: ""
            - name: name
              title: title
              assets:
                key: ""
              attributes:
                key: ""
              links:
                key: ""
            links:
              official: official
              wikipedia: wikipedia
              open_street_maps: open_street_maps
              google_maps: google_maps
          - names:
              common: common
              official: official
              alternates:
              - alternates
              - alternates
              native:
                key:
                  common: common
                  official: official
              translations:
                key:
                  common: common
                  official: official
            capitals:
            - name: name
              coordinates:
                lat: 0.8008281904610115
                lng: 6.027456183070403
              attributes:
                primary: true
                constitutional: true
                administrative: true
                executive: true
                legislative: true
                judicial: true
            - name: name
              coordinates:
                lat: 0.8008281904610115
                lng: 6.027456183070403
              attributes:
                primary: true
                constitutional: true
                administrative: true
                executive: true
                legislative: true
                judicial: true
            demonyms:
              key:
                m: m
                f: f
            codes:
              alpha_2: alpha_2
              alpha_3: alpha_3
              ccn3: ccn3
              fips: fips
              gec: gec
              cioc: cioc
              fifa: fifa
            flag:
              emoji: emoji
              unicode: unicode
              html_entity: html_entity
              url_png: url_png
              url_svg: url_svg
              description: description
              colors:
                dominant: dominant
                prominent: prominent
                palette:
                - hex: hex
                  proportion: 1.4658129805029452
                - hex: hex
                  proportion: 1.4658129805029452
                swatches:
                  vibrant: vibrant
                  muted: muted
                  dark_vibrant: dark_vibrant
                  dark_muted: dark_muted
                  light_vibrant: light_vibrant
                  light_muted: light_muted
            region: region
            subregion: subregion
            continents:
            - continents
            - continents
            landlocked: true
            borders:
            - borders
            - borders
            area:
              kilometers: 5.962133916683182
              miles: 5.637376656633329
            coordinates:
              lat: 0.8008281904610115
              lng: 6.027456183070403
            timezones:
            - timezones
            - timezones
            population: 2
            economy:
              gini_coefficient:
                key: 7.061401241503109
            languages:
            - name: name
              native_name: native_name
              bcp_47: bcp_47
              iso_639_1: iso_639_1
              iso_639_3: iso_639_3
            - name: name
              native_name: native_name
              bcp_47: bcp_47
              iso_639_1: iso_639_1
              iso_639_3: iso_639_3
            currencies:
            - code: code
              name: name
              symbol: symbol
            - code: code
              name: name
              symbol: symbol
            calling_codes:
            - calling_codes
            - calling_codes
            tlds:
            - tlds
            - tlds
            cars:
              driving_side: left
              signs:
              - signs
              - signs
            postal_code:
              format: format
              regex: regex
            date:
              start_of_week: start_of_week
              academic_year_start:
                month: 11
                day: 11
              fiscal_year_start:
                government:
                  month: 11
                  day: 11
                corporate:
                  month: 3
                  day: 13
                  basis: mandated
                personal:
                  month: 11
                  day: 11
            number_format:
              decimal_separator: decimal_separator
              thousands_separator: thousands_separator
            units:
              measurement_system: metric
              temperature_scale: Celsius
            classification:
              sovereign: true
              un_member: true
              un_observer: true
              disputed: true
              dependency: true
              dependency_type: dependency_type
              iso_status: official
            parent:
              alpha_2: alpha_2
              alpha_3: alpha_3
            memberships:
              un: true
              eu: true
              eurozone: true
              schengen: true
              nato: true
              commonwealth: true
              oecd: true
              g7: true
              g20: true
              brics: true
              opec: true
              african_union: true
              asean: true
              arab_league: true
            government_type: government_type
            leaders:
            - name: name
              title: title
              assets:
                key: ""
              attributes:
                key: ""
              links:
                key: ""
            - name: name
              title: title
              assets:
                key: ""
              attributes:
                key: ""
              links:
                key: ""
            links:
              official: official
              wikipedia: wikipedia
              open_street_maps: open_street_maps
              google_maps: google_maps
          meta:
            total: 7
            count: 1
            limit: 1
            offset: 1
            more: true
            request_id: request_id
      properties:
        data:
          $ref: "#/components/schemas/CountryListResponse_data"
      type: object
    ResponseMeta:
      example:
        total: 7
        count: 1
        limit: 1
        offset: 1
        more: true
        request_id: request_id
      properties:
        total:
          description: Total matched count after filters.
          type: integer
        count:
          description: Size of the returned slice.
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        more:
          description: Whether records exist past this page.
          type: boolean
        request_id:
          type: string
      type: object
    ErrorResponse:
      example:
        errors:
        - message: message
        - message: message
      properties:
        errors:
          items:
            $ref: "#/components/schemas/ErrorResponse_errors_inner"
          type: array
      type: object
    Country:
      description: |
        A country record. Every field is optional at the wire level because response_fields / response_fields_omit can project the object to any subset.
      example:
        names:
          common: common
          official: official
          alternates:
          - alternates
          - alternates
          native:
            key:
              common: common
              official: official
          translations:
            key:
              common: common
              official: official
        capitals:
        - name: name
          coordinates:
            lat: 0.8008281904610115
            lng: 6.027456183070403
          attributes:
            primary: true
            constitutional: true
            administrative: true
            executive: true
            legislative: true
            judicial: true
        - name: name
          coordinates:
            lat: 0.8008281904610115
            lng: 6.027456183070403
          attributes:
            primary: true
            constitutional: true
            administrative: true
            executive: true
            legislative: true
            judicial: true
        demonyms:
          key:
            m: m
            f: f
        codes:
          alpha_2: alpha_2
          alpha_3: alpha_3
          ccn3: ccn3
          fips: fips
          gec: gec
          cioc: cioc
          fifa: fifa
        flag:
          emoji: emoji
          unicode: unicode
          html_entity: html_entity
          url_png: url_png
          url_svg: url_svg
          description: description
          colors:
            dominant: dominant
            prominent: prominent
            palette:
            - hex: hex
              proportion: 1.4658129805029452
            - hex: hex
              proportion: 1.4658129805029452
            swatches:
              vibrant: vibrant
              muted: muted
              dark_vibrant: dark_vibrant
              dark_muted: dark_muted
              light_vibrant: light_vibrant
              light_muted: light_muted
        region: region
        subregion: subregion
        continents:
        - continents
        - continents
        landlocked: true
        borders:
        - borders
        - borders
        area:
          kilometers: 5.962133916683182
          miles: 5.637376656633329
        coordinates:
          lat: 0.8008281904610115
          lng: 6.027456183070403
        timezones:
        - timezones
        - timezones
        population: 2
        economy:
          gini_coefficient:
            key: 7.061401241503109
        languages:
        - name: name
          native_name: native_name
          bcp_47: bcp_47
          iso_639_1: iso_639_1
          iso_639_3: iso_639_3
        - name: name
          native_name: native_name
          bcp_47: bcp_47
          iso_639_1: iso_639_1
          iso_639_3: iso_639_3
        currencies:
        - code: code
          name: name
          symbol: symbol
        - code: code
          name: name
          symbol: symbol
        calling_codes:
        - calling_codes
        - calling_codes
        tlds:
        - tlds
        - tlds
        cars:
          driving_side: left
          signs:
          - signs
          - signs
        postal_code:
          format: format
          regex: regex
        date:
          start_of_week: start_of_week
          academic_year_start:
            month: 11
            day: 11
          fiscal_year_start:
            government:
              month: 11
              day: 11
            corporate:
              month: 3
              day: 13
              basis: mandated
            personal:
              month: 11
              day: 11
        number_format:
          decimal_separator: decimal_separator
          thousands_separator: thousands_separator
        units:
          measurement_system: metric
          temperature_scale: Celsius
        classification:
          sovereign: true
          un_member: true
          un_observer: true
          disputed: true
          dependency: true
          dependency_type: dependency_type
          iso_status: official
        parent:
          alpha_2: alpha_2
          alpha_3: alpha_3
        memberships:
          un: true
          eu: true
          eurozone: true
          schengen: true
          nato: true
          commonwealth: true
          oecd: true
          g7: true
          g20: true
          brics: true
          opec: true
          african_union: true
          asean: true
          arab_league: true
        government_type: government_type
        leaders:
        - name: name
          title: title
          assets:
            key: ""
          attributes:
            key: ""
          links:
            key: ""
        - name: name
          title: title
          assets:
            key: ""
          attributes:
            key: ""
          links:
            key: ""
        links:
          official: official
          wikipedia: wikipedia
          open_street_maps: open_street_maps
          google_maps: google_maps
      properties:
        names:
          $ref: "#/components/schemas/Names"
        capitals:
          items:
            $ref: "#/components/schemas/Capital"
          type: array
        demonyms:
          additionalProperties:
            $ref: "#/components/schemas/Demonym"
          description: Keyed by ISO 639-3 language code.
          type: object
        codes:
          $ref: "#/components/schemas/Codes"
        flag:
          $ref: "#/components/schemas/Flag"
        region:
          description: "Africa, Americas, Asia, Europe, Oceania."
          type: string
        subregion:
          type: string
        continents:
          items:
            type: string
          type: array
        landlocked:
          type: boolean
        borders:
          description: ISO alpha-3 codes of land-border neighbours.
          items:
            type: string
          type: array
        area:
          $ref: "#/components/schemas/Country_area"
        coordinates:
          $ref: "#/components/schemas/Coordinates"
        timezones:
          description: UTC offsets observed (e.g. UTC+05:30).
          items:
            type: string
          type: array
        population:
          description: "Top-level integer (verified against a live v5 record). Dynamic,\
            \ 4-hour sync."
          format: int64
          type: integer
        economy:
          $ref: "#/components/schemas/Country_economy"
        languages:
          description: |
            Languages used in the country. `name` (English name) verified as a live lookup path; the identifier key names below follow the docs' description (ISO 639 identifiers, BCP 47 tag, native name) and should be confirmed against one live record before relying on them (x-unverified).
          items:
            $ref: "#/components/schemas/Language"
          type: array
        currencies:
          description: |
            Officially supported currencies. `code` verified as a live lookup path; `name`/`symbol` follow convention and should be confirmed against one live record (x-unverified).
          items:
            $ref: "#/components/schemas/Currency"
          type: array
        calling_codes:
          items:
            type: string
          type: array
        tlds:
          items:
            type: string
          type: array
        cars:
          $ref: "#/components/schemas/Country_cars"
        postal_code:
          $ref: "#/components/schemas/Country_postal_code"
        date:
          $ref: "#/components/schemas/DateConventions"
        number_format:
          $ref: "#/components/schemas/Country_number_format"
        units:
          $ref: "#/components/schemas/Country_units"
        classification:
          $ref: "#/components/schemas/Classification"
        parent:
          $ref: "#/components/schemas/Country_parent"
        memberships:
          $ref: "#/components/schemas/Memberships"
        government_type:
          description: Dynamic field.
          type: string
        leaders:
          description: |
            Premium dynamic field (Personal plans and above). On the free plan the array carries a single upgrade-notice object instead of leader records, so all leaf fields must stay optional.
          items:
            $ref: "#/components/schemas/Leader"
          type: array
        links:
          $ref: "#/components/schemas/Country_links"
      type: object
    Names:
      example:
        common: common
        official: official
        alternates:
        - alternates
        - alternates
        native:
          key:
            common: common
            official: official
        translations:
          key:
            common: common
            official: official
      properties:
        common:
          type: string
        official:
          type: string
        alternates:
          items:
            type: string
          type: array
        native:
          additionalProperties:
            $ref: "#/components/schemas/NameForms"
          description: Keyed by ISO 639-3 language code.
          type: object
        translations:
          additionalProperties:
            $ref: "#/components/schemas/NameForms"
          description: Keyed by ISO 639-3 language code. Heavy branch; consider response_fields_omit=names.translations.
          type: object
      type: object
    NameForms:
      example:
        common: common
        official: official
      properties:
        common:
          type: string
        official:
          type: string
      type: object
    Capital:
      example:
        name: name
        coordinates:
          lat: 0.8008281904610115
          lng: 6.027456183070403
        attributes:
          primary: true
          constitutional: true
          administrative: true
          executive: true
          legislative: true
          judicial: true
      properties:
        name:
          type: string
        coordinates:
          $ref: "#/components/schemas/Coordinates"
        attributes:
          $ref: "#/components/schemas/Capital_attributes"
      type: object
    Demonym:
      example:
        m: m
        f: f
      properties:
        m:
          type: string
        f:
          type: string
      type: object
    Codes:
      example:
        alpha_2: alpha_2
        alpha_3: alpha_3
        ccn3: ccn3
        fips: fips
        gec: gec
        cioc: cioc
        fifa: fifa
      properties:
        alpha_2:
          type: string
        alpha_3:
          type: string
        ccn3:
          type: string
        fips:
          type: string
        gec:
          type: string
        cioc:
          type: string
        fifa:
          type: string
      type: object
    Flag:
      example:
        emoji: emoji
        unicode: unicode
        html_entity: html_entity
        url_png: url_png
        url_svg: url_svg
        description: description
        colors:
          dominant: dominant
          prominent: prominent
          palette:
          - hex: hex
            proportion: 1.4658129805029452
          - hex: hex
            proportion: 1.4658129805029452
          swatches:
            vibrant: vibrant
            muted: muted
            dark_vibrant: dark_vibrant
            dark_muted: dark_muted
            light_vibrant: light_vibrant
            light_muted: light_muted
      properties:
        emoji:
          type: string
        unicode:
          type: string
        html_entity:
          type: string
        url_png:
          type: string
        url_svg:
          type: string
        description:
          type: string
        colors:
          $ref: "#/components/schemas/Flag_colors"
      type: object
    Coordinates:
      example:
        lat: 0.8008281904610115
        lng: 6.027456183070403
      properties:
        lat:
          type: number
        lng:
          type: number
      type: object
    Language:
      example:
        name: name
        native_name: native_name
        bcp_47: bcp_47
        iso_639_1: iso_639_1
        iso_639_3: iso_639_3
      properties:
        name:
          description: English name. Verified lookup path (languages.name).
          type: string
        native_name:
          description: x-unverified key name.
          type: string
        bcp_47:
          description: x-unverified key name.
          type: string
        iso_639_1:
          description: x-unverified key name.
          type: string
        iso_639_3:
          description: x-unverified key name.
          type: string
      type: object
    Currency:
      example:
        code: code
        name: name
        symbol: symbol
      properties:
        code:
          description: ISO 4217 code. Verified lookup path (currencies.code).
          type: string
        name:
          description: x-unverified key name.
          type: string
        symbol:
          description: x-unverified key name.
          type: string
      type: object
    DateConventions:
      example:
        start_of_week: start_of_week
        academic_year_start:
          month: 11
          day: 11
        fiscal_year_start:
          government:
            month: 11
            day: 11
          corporate:
            month: 3
            day: 13
            basis: mandated
          personal:
            month: 11
            day: 11
      properties:
        start_of_week:
          type: string
        academic_year_start:
          $ref: "#/components/schemas/MonthDay"
        fiscal_year_start:
          $ref: "#/components/schemas/DateConventions_fiscal_year_start"
      type: object
    MonthDay:
      example:
        month: 11
        day: 11
      properties:
        month:
          maximum: 12
          minimum: 1
          type: integer
        day:
          maximum: 31
          minimum: 1
          type: integer
      type: object
    Classification:
      example:
        sovereign: true
        un_member: true
        un_observer: true
        disputed: true
        dependency: true
        dependency_type: dependency_type
        iso_status: official
      properties:
        sovereign:
          description: Replaces v3.1's `independent` (verified against a live v5 record).
          type: boolean
        un_member:
          type: boolean
        un_observer:
          type: boolean
        disputed:
          type: boolean
        dependency:
          type: boolean
        dependency_type:
          type: string
        iso_status:
          enum:
          - official
          - user_assigned
          type: string
      type: object
    Memberships:
      example:
        un: true
        eu: true
        eurozone: true
        schengen: true
        nato: true
        commonwealth: true
        oecd: true
        g7: true
        g20: true
        brics: true
        opec: true
        african_union: true
        asean: true
        arab_league: true
      properties:
        un:
          type: boolean
        eu:
          type: boolean
        eurozone:
          type: boolean
        schengen:
          type: boolean
        nato:
          type: boolean
        commonwealth:
          type: boolean
        oecd:
          type: boolean
        g7:
          type: boolean
        g20:
          type: boolean
        brics:
          type: boolean
        opec:
          type: boolean
        african_union:
          type: boolean
        asean:
          type: boolean
        arab_league:
          type: boolean
      type: object
    Leader:
      description: "Premium field. Per docs each leader includes assets, attributes,\
        \ links, name, and title; exact sub-shapes are x-unverified."
      example:
        name: name
        title: title
        assets:
          key: ""
        attributes:
          key: ""
        links:
          key: ""
      properties:
        name:
          type: string
        title:
          type: string
        assets:
          additionalProperties: true
          type: object
        attributes:
          additionalProperties: true
          type: object
        links:
          additionalProperties: true
          type: object
      type: object
    CountryListResponse_data:
      example:
        objects:
        - names:
            common: common
            official: official
            alternates:
            - alternates
            - alternates
            native:
              key:
                common: common
                official: official
            translations:
              key:
                common: common
                official: official
          capitals:
          - name: name
            coordinates:
              lat: 0.8008281904610115
              lng: 6.027456183070403
            attributes:
              primary: true
              constitutional: true
              administrative: true
              executive: true
              legislative: true
              judicial: true
          - name: name
            coordinates:
              lat: 0.8008281904610115
              lng: 6.027456183070403
            attributes:
              primary: true
              constitutional: true
              administrative: true
              executive: true
              legislative: true
              judicial: true
          demonyms:
            key:
              m: m
              f: f
          codes:
            alpha_2: alpha_2
            alpha_3: alpha_3
            ccn3: ccn3
            fips: fips
            gec: gec
            cioc: cioc
            fifa: fifa
          flag:
            emoji: emoji
            unicode: unicode
            html_entity: html_entity
            url_png: url_png
            url_svg: url_svg
            description: description
            colors:
              dominant: dominant
              prominent: prominent
              palette:
              - hex: hex
                proportion: 1.4658129805029452
              - hex: hex
                proportion: 1.4658129805029452
              swatches:
                vibrant: vibrant
                muted: muted
                dark_vibrant: dark_vibrant
                dark_muted: dark_muted
                light_vibrant: light_vibrant
                light_muted: light_muted
          region: region
          subregion: subregion
          continents:
          - continents
          - continents
          landlocked: true
          borders:
          - borders
          - borders
          area:
            kilometers: 5.962133916683182
            miles: 5.637376656633329
          coordinates:
            lat: 0.8008281904610115
            lng: 6.027456183070403
          timezones:
          - timezones
          - timezones
          population: 2
          economy:
            gini_coefficient:
              key: 7.061401241503109
          languages:
          - name: name
            native_name: native_name
            bcp_47: bcp_47
            iso_639_1: iso_639_1
            iso_639_3: iso_639_3
          - name: name
            native_name: native_name
            bcp_47: bcp_47
            iso_639_1: iso_639_1
            iso_639_3: iso_639_3
          currencies:
          - code: code
            name: name
            symbol: symbol
          - code: code
            name: name
            symbol: symbol
          calling_codes:
          - calling_codes
          - calling_codes
          tlds:
          - tlds
          - tlds
          cars:
            driving_side: left
            signs:
            - signs
            - signs
          postal_code:
            format: format
            regex: regex
          date:
            start_of_week: start_of_week
            academic_year_start:
              month: 11
              day: 11
            fiscal_year_start:
              government:
                month: 11
                day: 11
              corporate:
                month: 3
                day: 13
                basis: mandated
              personal:
                month: 11
                day: 11
          number_format:
            decimal_separator: decimal_separator
            thousands_separator: thousands_separator
          units:
            measurement_system: metric
            temperature_scale: Celsius
          classification:
            sovereign: true
            un_member: true
            un_observer: true
            disputed: true
            dependency: true
            dependency_type: dependency_type
            iso_status: official
          parent:
            alpha_2: alpha_2
            alpha_3: alpha_3
          memberships:
            un: true
            eu: true
            eurozone: true
            schengen: true
            nato: true
            commonwealth: true
            oecd: true
            g7: true
            g20: true
            brics: true
            opec: true
            african_union: true
            asean: true
            arab_league: true
          government_type: government_type
          leaders:
          - name: name
            title: title
            assets:
              key: ""
            attributes:
              key: ""
            links:
              key: ""
          - name: name
            title: title
            assets:
              key: ""
            attributes:
              key: ""
            links:
              key: ""
          links:
            official: official
            wikipedia: wikipedia
            open_street_maps: open_street_maps
            google_maps: google_maps
        - names:
            common: common
            official: official
            alternates:
            - alternates
            - alternates
            native:
              key:
                common: common
                official: official
            translations:
              key:
                common: common
                official: official
          capitals:
          - name: name
            coordinates:
              lat: 0.8008281904610115
              lng: 6.027456183070403
            attributes:
              primary: true
              constitutional: true
              administrative: true
              executive: true
              legislative: true
              judicial: true
          - name: name
            coordinates:
              lat: 0.8008281904610115
              lng: 6.027456183070403
            attributes:
              primary: true
              constitutional: true
              administrative: true
              executive: true
              legislative: true
              judicial: true
          demonyms:
            key:
              m: m
              f: f
          codes:
            alpha_2: alpha_2
            alpha_3: alpha_3
            ccn3: ccn3
            fips: fips
            gec: gec
            cioc: cioc
            fifa: fifa
          flag:
            emoji: emoji
            unicode: unicode
            html_entity: html_entity
            url_png: url_png
            url_svg: url_svg
            description: description
            colors:
              dominant: dominant
              prominent: prominent
              palette:
              - hex: hex
                proportion: 1.4658129805029452
              - hex: hex
                proportion: 1.4658129805029452
              swatches:
                vibrant: vibrant
                muted: muted
                dark_vibrant: dark_vibrant
                dark_muted: dark_muted
                light_vibrant: light_vibrant
                light_muted: light_muted
          region: region
          subregion: subregion
          continents:
          - continents
          - continents
          landlocked: true
          borders:
          - borders
          - borders
          area:
            kilometers: 5.962133916683182
            miles: 5.637376656633329
          coordinates:
            lat: 0.8008281904610115
            lng: 6.027456183070403
          timezones:
          - timezones
          - timezones
          population: 2
          economy:
            gini_coefficient:
              key: 7.061401241503109
          languages:
          - name: name
            native_name: native_name
            bcp_47: bcp_47
            iso_639_1: iso_639_1
            iso_639_3: iso_639_3
          - name: name
            native_name: native_name
            bcp_47: bcp_47
            iso_639_1: iso_639_1
            iso_639_3: iso_639_3
          currencies:
          - code: code
            name: name
            symbol: symbol
          - code: code
            name: name
            symbol: symbol
          calling_codes:
          - calling_codes
          - calling_codes
          tlds:
          - tlds
          - tlds
          cars:
            driving_side: left
            signs:
            - signs
            - signs
          postal_code:
            format: format
            regex: regex
          date:
            start_of_week: start_of_week
            academic_year_start:
              month: 11
              day: 11
            fiscal_year_start:
              government:
                month: 11
                day: 11
              corporate:
                month: 3
                day: 13
                basis: mandated
              personal:
                month: 11
                day: 11
          number_format:
            decimal_separator: decimal_separator
            thousands_separator: thousands_separator
          units:
            measurement_system: metric
            temperature_scale: Celsius
          classification:
            sovereign: true
            un_member: true
            un_observer: true
            disputed: true
            dependency: true
            dependency_type: dependency_type
            iso_status: official
          parent:
            alpha_2: alpha_2
            alpha_3: alpha_3
          memberships:
            un: true
            eu: true
            eurozone: true
            schengen: true
            nato: true
            commonwealth: true
            oecd: true
            g7: true
            g20: true
            brics: true
            opec: true
            african_union: true
            asean: true
            arab_league: true
          government_type: government_type
          leaders:
          - name: name
            title: title
            assets:
              key: ""
            attributes:
              key: ""
            links:
              key: ""
          - name: name
            title: title
            assets:
              key: ""
            attributes:
              key: ""
            links:
              key: ""
          links:
            official: official
            wikipedia: wikipedia
            open_street_maps: open_street_maps
            google_maps: google_maps
        meta:
          total: 7
          count: 1
          limit: 1
          offset: 1
          more: true
          request_id: request_id
      properties:
        objects:
          items:
            $ref: "#/components/schemas/Country"
          type: array
        meta:
          $ref: "#/components/schemas/ResponseMeta"
      type: object
    ErrorResponse_errors_inner:
      example:
        message: message
      properties:
        message:
          type: string
      type: object
    Country_area:
      example:
        kilometers: 5.962133916683182
        miles: 5.637376656633329
      properties:
        kilometers:
          type: number
        miles:
          type: number
      type: object
    Country_economy:
      example:
        gini_coefficient:
          key: 7.061401241503109
      properties:
        gini_coefficient:
          additionalProperties:
            type: number
          description: Gini coefficient(s) keyed by reporting year.
          type: object
      type: object
    Country_cars:
      example:
        driving_side: left
        signs:
        - signs
        - signs
      properties:
        driving_side:
          enum:
          - left
          - right
          type: string
        signs:
          items:
            type: string
          type: array
      type: object
    Country_postal_code:
      example:
        format: format
        regex: regex
      properties:
        format:
          description: "Human-readable mask, `#` for digits (e.g. \"A#A"
          type: string
        regex:
          type: string
      type: object
    Country_number_format:
      example:
        decimal_separator: decimal_separator
        thousands_separator: thousands_separator
      properties:
        decimal_separator:
          type: string
        thousands_separator:
          type: string
      type: object
    Country_units:
      example:
        measurement_system: metric
        temperature_scale: Celsius
      properties:
        measurement_system:
          enum:
          - metric
          - imperial
          type: string
        temperature_scale:
          enum:
          - Celsius
          - Fahrenheit
          type: string
      type: object
    Country_parent:
      description: "For dependent entities, the sovereign parent."
      example:
        alpha_2: alpha_2
        alpha_3: alpha_3
      properties:
        alpha_2:
          type: string
        alpha_3:
          type: string
      type: object
    Country_links:
      example:
        official: official
        wikipedia: wikipedia
        open_street_maps: open_street_maps
        google_maps: google_maps
      properties:
        official:
          type: string
        wikipedia:
          type: string
        open_street_maps:
          type: string
        google_maps:
          type: string
      type: object
    Capital_attributes:
      description: Role flags. Nesting under `attributes` verified against a live
        v5 record.
      example:
        primary: true
        constitutional: true
        administrative: true
        executive: true
        legislative: true
        judicial: true
      properties:
        primary:
          type: boolean
        constitutional:
          type: boolean
        administrative:
          type: boolean
        executive:
          type: boolean
        legislative:
          type: boolean
        judicial:
          type: boolean
      type: object
    Flag_colors_palette_inner:
      example:
        hex: hex
        proportion: 1.4658129805029452
      properties:
        hex:
          type: string
        proportion:
          type: number
      type: object
    Flag_colors_swatches:
      description: All six roles always present; null when no matching color.
      example:
        vibrant: vibrant
        muted: muted
        dark_vibrant: dark_vibrant
        dark_muted: dark_muted
        light_vibrant: light_vibrant
        light_muted: light_muted
      properties:
        vibrant:
          nullable: true
          type: string
        muted:
          nullable: true
          type: string
        dark_vibrant:
          nullable: true
          type: string
        dark_muted:
          nullable: true
          type: string
        light_vibrant:
          nullable: true
          type: string
        light_muted:
          nullable: true
          type: string
      type: object
    Flag_colors:
      example:
        dominant: dominant
        prominent: prominent
        palette:
        - hex: hex
          proportion: 1.4658129805029452
        - hex: hex
          proportion: 1.4658129805029452
        swatches:
          vibrant: vibrant
          muted: muted
          dark_vibrant: dark_vibrant
          dark_muted: dark_muted
          light_vibrant: light_vibrant
          light_muted: light_muted
      properties:
        dominant:
          type: string
        prominent:
          type: string
        palette:
          items:
            $ref: "#/components/schemas/Flag_colors_palette_inner"
          type: array
        swatches:
          $ref: "#/components/schemas/Flag_colors_swatches"
      type: object
    DateConventions_fiscal_year_start_corporate:
      allOf:
      - $ref: "#/components/schemas/MonthDay"
      - properties:
          basis:
            enum:
            - mandated
            - default
            - convention
            type: string
        type: object
      example:
        month: 3
        day: 13
        basis: mandated
    DateConventions_fiscal_year_start:
      example:
        government:
          month: 11
          day: 11
        corporate:
          month: 3
          day: 13
          basis: mandated
        personal:
          month: 11
          day: 11
      properties:
        government:
          $ref: "#/components/schemas/MonthDay"
        corporate:
          $ref: "#/components/schemas/DateConventions_fiscal_year_start_corporate"
        personal:
          $ref: "#/components/schemas/MonthDay"
      type: object
  securitySchemes:
    bearerAuth:
      description: |
        API key as a bearer token (`Authorization: Bearer rc_live_...`). A `?api-key=` query-string fallback also exists for browser experiments but the header form is preferred.
      scheme: bearer
      type: http
